*{
    margin: 0;
    padding: 0;
    font-family: Open Sans Condensed;
    color: #FFFFFF;
    background-repeat : no-repeat;
    letter-spacing: 0.1em;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 405px 191px 405px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
}
a{
    text-decoration: none
}

.menu{
    list-style: none;
    display: flex;
    justify-content: center;   
}

.menu li{
    padding-left: 63px;
}
.menu li :hover{
    color: #D1A954;
}
.phone{
    border-bottom: 2px solid #D1A954;
}

body{
    background-color:  rgba(51, 51, 51, 1);
}